/*.album-wrapper {
    max-width: calc(100vw - 96px);
    width: 100%;
    display: flex;
    justify-content: center;
}
.album-wrapper .album {
    max-width: 1824px !important;
    width: 100% !important;
}*/

.album .jsb {
    margin-bottom: 48px;
}

.album .heading {
    margin-bottom: 0;
}
.album .jsb div:nth-child(2) {
    text-align: right;
}
.album .reedits {
    margin-top: 4px;
    opacity: 0.5;
    color: purple;
}
