@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins {
    font-family: 'Poppins', Inter, 'Helvetica Now', Helvetica, Arial, sans-serif;
}

html { scroll-behavior: smooth; }
body {
    margin: 0;
    background-image: linear-gradient(to bottom right, #030B0D, #040610);
    font-family: Inter, 'Helvetica Now', Helvetica, Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.all {
    margin-left: 50px; margin-right: 50px;
    max-width: 1400px;
    width: 100%;
    padding: 12px;
}
@media only screen and (max-width: 550px) {
    .all {margin-left: 15px; margin-right: 15px;}
}
@media only screen and (min-width: 1000px) {
    .all {margin-left: 100px; margin-right: 100px;}
}

a {
    text-decoration: none;
    border-bottom: 1px dashed rgb(230, 230, 230);
    display: inline-block;
    color: rgb(230, 230, 230);
    margin-bottom: 3px;
}
a:hover {
    border-bottom: 1px solid rgb(182, 255, 245);
    color: rgb(182, 255, 245);
}

.btn {
    border-radius: 12px;
    margin: 10px;
    padding: 10px 30px 10px 30px;
    border-bottom-style: none;
    transition: 0.2s;
}
.btn:hover { border-bottom-style: none; }
.btn-icon { justify-content: center; align-items: center; text-align: center; padding: 10px; }
.btn-transparent { padding: 10px; }
.btn-white { color: black; background-color: white; }
.btn-white:hover { color: black; background-color: rgb(226, 226, 226); }
.btn-circle { border-radius: 1000px; }

.accent {
    background: linear-gradient(to bottom right, #FE7259 -10%, #FE811E 105%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.accent-bg {
    background-image: linear-gradient(#FE7259, #FE811E);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.header-sect {
    display: flex;
    align-items: center;
}
.header-sect.left strong { font-weight: 600; }
.header-icon { width: 28px; height: 28px; margin-right: 10px; }
.header * .btn { font-size: 16px; }
.header * a { text-decoration: none; color: white; }

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-sec {
    padding: 25px;
    height: min-content;
}
@media only screen and (min-width: 1200px) {
    .intro .left { width: 33%; }
    .intro .right { width: 66%; }
}
@media only screen and (max-width: 1200px) {
    .intro { flex-wrap: wrap-reverse; }
}

.intro-title {
    font-family: 'Poppins', Inter, 'Helvetica Now', Helvetica, Arial, sans-serif;
    font-size: 56px;
    font-weight: 600;
}

.tag { font-size: 14px; padding: 5px; border-radius: 5px; }
.tag-yellow { background-color: rgba(255, 217, 0, 0.15); }
.tag-blue { background-color: rgba(0, 162, 255, 0.15); }
.tag-green { background-color: rgba(21, 255, 0, 0.15); }

.intro .right { max-height: 575px; }
.intro .right img {
    height: auto;
    width: 100%;
    border: 1px solid rgba(153, 153, 153, 0.5);
    border-radius: 15px;
}
.intro-down-wrapper {
    margin: 45px 15px 45px 15px;
    display: flex;
    justify-content: center;
    border: none;
    color: rgb(209, 209, 209);
}
.intro-down-wrapper:hover { border: none; }
.intro-down {
    font-size: 36px;
}

.features {
    display: grid;
    place-items: center;
}
.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.features-list {
    max-width: 1100px;
}
.feature {
    max-width: 500px;
    margin: 20px;
    text-align: center;
    display: grid;
    place-items: center;
}
.feature-icn {
    margin-top: -35px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(0,0,0,0.2)
}
.feature-title {
    max-width: 300px;
    margin: 3px;
    font-weight: 600;
    font-size: 24px;
    overflow-wrap: normal;
}
.feature-desc {
    margin: 3px;
    max-width: 250px;
}

.downloads-title { font-size: 56px; font-weight: 600; }
.downloads-options { display: flex; flex-wrap: wrap; justify-content: center; }

.downloads-option {
    display: inline-block;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    padding: 15px;
    margin: 10px;
}
.downloads-option-warn {
    color: #8B8B8B;
    font-size: 16px;
}
.downloads-option.windows .downloads-option-warn { color: transparent; }
.downloads-option-c { text-align: center; padding: 25px; }
.downloads-option-logo { height: 46px; margin-bottom: 15px; }
.macos * .downloads-option-logo { margin-bottom: 20px; height: 41px; }
.linux * .downloads-option-logo { margin-bottom: 7px; height: 54px; }

.downloads-option-method {
    text-align: left;
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
    border: none;
}
.downloads-option-method:hover { border: none; }
.downloads-option-method-icon { height: 42px; margin-right: 10px; }
.downloads-option-method-text strong { font-weight: 700; }

.downloads-option.selfbuild {
    max-width: 233px;
    background: transparent;
    /*border: 1px dashed rgba(255,255,255,0.5);*/
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23333' stroke-width='4' stroke-dasharray='6%2c12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 16px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}
.selfbuild-title { display: flex; align-items: center; margin-bottom: 10px; }
.selfbuild-title-icon { margin-right: 10px; }
.selfbuild-title-strong { font-weight: 600; font-size: 16px; }
.selfbuild-title-repo {
    color: #B3B3B3;
    font-family: monospace;
    font-size: 14px;
}
.selfbuild-download { margin: 10px 0 5px 0; padding: 15px 20px 15px 20px; }

.contribute-title {
    font-size: 26px;
}