@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    background-color: #181818;
    color: #f8f8f8;
    font-family: Inter, Helvetica, Arial, sans-serif;
    
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}
body { margin-bottom: 48px;}

h1 {
    font-size: 56px;
    font-weight: 700;
    margin: 4px 0;
}
p {
    font-size: 20px;
    letter-spacing: 0.07em;
    color: #C5C5C5;
    margin: 4px 0;
}

.buttons {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}
.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: #242424;
    border: none;

    min-width: 248px;
    min-height: 56px;

    padding: 20px 48px;

    color: #f8f8f8;
    text-decoration: none;
    letter-spacing: 0.07em;
    font-size: 20px;
}
.button:hover {
    background-color: #303030;
}
.button.primary {
    background-color: #f8f8f8;
    color: #181818;
}
.button.primary:hover {
    background-color: #d9d9d9;
}
.button.full { width: 100%;}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 36px 48px;
    width: 100%;
}
.header .logo {
    font-size: 56px;
    font-weight: 400;
    margin: 0;
    color: #f8f8f8;
    text-decoration: none;
    letter-spacing: 0.07em;
}
.header nav {
    opacity: 0.75;
}

.content {
    max-width: 1060px;
    width: calc(100% - 60px);
}

.intro {
    width: 100%;
    display: flex;
    gap: 36px;
}
@media only screen and (max-width: 750px) {
    .intro {
        flex-wrap: wrap;
    }
    .intro .text {
        height: auto;
    }
    .intro .text .buttons {
        margin-top: 36px;
    }
}
.intro img {
    display: inline-block;
    max-width: 512px;
    width: 100%;
}
.intro .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 416px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(253px, 1fr));
    gap: 16px;
    margin-top: 96px;
}
.projects .project {
    text-decoration: none;
}
.projects .project .image {
    background-color: #242424;
    width: 253px;
    height: 253px;

    display: grid;
    place-items: center;
}
.projects .project .title {
    color: #f8f8f8;
    margin-top: 16px;
}
.state {
    color: #f8f8f8;
    font-size: 10px;
    padding: 4px 8px;
    margin-right: 4px;
}
.state.discontinued {
    background-color: #ff575780;
}
.state.deprecated {
    background-color: #1400FF80;
}
.state.active {
    background-color: #00FF3880;
}
.state.development {
    background-color: #FFF50080;
}


.page-project .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-project .title div {
    display: flex;
    align-items: center;
}
.page-project .description span {
    color: #f8f8f8;
}
.page-project .description span:not(:first-of-type) {
    margin-left: 18px;
}
.page-project .images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(522px, 1fr));
    gap: 16px;
    margin-top: 36px;
}
.page-project .images img {
    background-color: #242424;
    border: 1px #303030 solid;

    width: 522px;
    height: 294px;
    object-fit: cover;

    display: grid;
    place-items: center;
}
.page-contact .method {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}
.page-contact .method:first-of-type {
    margin-top: 36px;
}
.page-contact .method p, .page-contact .method a {
    margin: 0;
    font-size: 20px;
    letter-spacing: 0.07em;
    color: #C5C5C5;
}