* {
    font-family: sans-serif;
}

html {
    color: #ffffff;
    background-color: #666699;
}

a {
    color: #d9b3ff;
    text-decoration: none;
}

.header {
    text-align: center;
    background-color: #3d3d5c;
    padding: 1.5%;
}
.header-logo {
    height: 25vh;
    min-height: 100px;
}